footer {
  position: absolute;
  top: 55vh
}

.newGame {
  text-decoration: none;
}

.move, .newGame {
  display: block;
  color: blue;
  cursor: pointer;
  line-height: 20px;
}

.move:hover, .newGame:hover {
  color: violet;
  font-weight: bold;
}

.lastMove {
  color: blue;
  font-weight: bold;
  cursor: default;
}

.sort {
  margin-top: 20px
}
